/*
  Theme Name:   Blogsixteen child
  Theme URI:    https://bitbucket.com/austinjp/blogsixteen-child-theme
  Description:  Child theme for blogsixteen Wordpress theme.
  Author:       Austin Plunkett
  Author URI:   https://bitbucket.com/austinjp
  Template:     blogsixteen
  Version:      0.0.1
  License:      GNU General Public License v2 or later
  License URI:  http://www.gnu.org/licenses/gpl-2.0.html
  Text Domain:  blogsixteen-child
  */


/* Wider page, and appropriately sized wide elements. */

#page, hgroup, #prelim, #footer-content, #notification-bar .notification-bar-inner {
    width: 90%;
    max-width: 1199px;
    margin: 0 auto;
}

/* Typography */
/* Hat-tip to the lovely getskeleton.com */
/*
  Blogsixteen parent theme applies px font-size to the following:
  body { font-size: 19px; }
  button, input , select, textarea { font-size: 19px; }
  pre, code, kbd, tt, var { font-size: 15px; font-size: 0.9375rem }
  .main-navigation .children a, .main-navigation .sub-menu a { font-size: 18px; }
  .screen-reader-text:focus, .widget_search .search-submit:focus { font-size: 14px; font-size: 0.875rem; }
  @media screen and (max-width: 420px){
    body,input,select,textarea {
      font-size: 14px;
    }
  }
  @media only screen and (min-width : 768px) {
    .secondary-navigation a {
      font-size: 14px;
    }
  }
  */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    line-height: 1.7;
    font-weight: 400;
    color: #222;
    background: #f7f6f5;
}

p { margin-bottom: 24px; }

html, body,
button, input, select, textarea,
h1, h2, h3, h4, h5, h6,
button, input[type="button"], input[type="reset"], input[type="submit"],
.main-navigation a,
.blog .post p,
.reply a 
{
    font-family: 'Open Sans', Arial, arial, sans-serif;
}

pre, code, kbd, tt, var {
    font-family:  Monaco, Consolas, Courier, monospace;
}


button, input, select, textarea, pre, code, kbd, tt, var, .main-navigation .children a, .main-navigation .sub-menu a, .screen-read-text:focus, .widget_search .search-submit:focus { font-size: initial; font-size: 1.5rem; }
@media screen and (max-width: 420px) { body, input, select, textarea { font-size: initial; font-size: 1.5rem; } }
@media only screen and (min-width: 768px) { .secondary-navigation a { font-size: initial; font-size: 1.5rem; } }


/* Navigation and masthead */

/*
.site-branding .logo,
.site-branding .logo a,
.site-branding .logo a img {
}
*/

.site-branding .logo img {
    display: block;
    margin: 0 auto;
    border: 0;
    padding: 0;
    height: auto;
    width: auto;
    max-height: 60px;
}
.site-branding .logo {
    display: block;
    text-align: center;
}

hgroup { display: block; }
hgroup * { vertical-align: top; }

@media screen and (min-width: 37.5em) {
    .site-branding .logo img {
	min-width: 125px;
	max-height: 100px;
	padding: 25px 20px 0 0;
    }
    hgroup {
	display: table;
    }
    .site-branding .logo {
	display: table-cell;
	width: 19.99999999%;
	text-align: left;
    }
    .site-branding .site-info {
	display: table-cell;
	width: 79.99999999%;
    }
}

.header-menu .sub-menu a {
    white-space: normal;
}

.header-menu .menu-item a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0;
}

#menu-navigation-menu {
    text-align: center;
}

#masthead {
    background-position: center bottom;
    background-size: cover;
}

#masthead .site-header::after {
    display: none;
}

/*
.site-info {
    display: none;
    height: 0px;
}
*/


/* Remove border from widgets */
/* .widget { border: 0; } */

/* Widget border fixes */
.widget-area, .widget {
    border: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.widget {
    background-color: white;
}

.widget {
    padding-right: 8px;
    padding-bottom: 12px;
    padding-left: 8px;
}

h3.widget-title {
    margin-top: 0;
    margin-left: -8px;
    margin-right: -8px;
    padding: 4px 8px;
}


/* Undo some text transforms */ 

#masthead .site-description,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    text-transform: none;
}


/*
body.search-results article.page .entry-summary p {
    margin-bottom: 16px;
}
*/

/* Individual posts */

.entry-header {
    margin-bottom: 24px;
}

.blog .post {
    border-top: 0;
}

#menu-navigation-menu > .menu-item:last-child {
    margin-right: 0;
}

@media screen and (min-width: 768px) {
    #menu-navigation-menu > .menu-item {
	margin-right: 20px;
    }
    #menu-navigation-menu > li.menu-item-has-children > a {
	padding-right: 20px;
    }
    #menu-navigation-menu > li.menu-item-has-children > a:after,
    #menu-navigation-menu ul .menu-item-has-children > a:after {
	content: ">";
	position: absolute;
	right: 4px;
	color: silver;
    }
    #menu-navigation-menu > li.menu-item-has-children > a:after {
	color: #777;
	font-weight: 300;
    }
}

#menu-navigation-menu > li {
    margin-bottom: 4px;
}


/* anchor href link colours */

a { text-decoration: underline; color: #09c; }
h1 a { text-decoration: none; }

.current_page_item a {
    color: #09c;
}

.current_page_item > a {
    color: darkorange;
}

#menu-navigation-menu .current_page_item a,
.main-navigation a:hover {
    color: black;
}


/* Get rid of vertical arrow bit on sub menus in nav */

.main-navigation .children li:nth-child(1):after,
.main-navigation .children li:nth-child(1):before,
.main-navigation .sub-menu li:nth-child(1):after,
.main-navigation .sub-menu li:nth-child(1):before {
    /* border-color: transparent; */
    border: 0;
}

/* Change button colour */

button, input[type="button"], input[type="reset"], input[type="submit"] {
    background: #1EAEDB;
    color: #fff;
    border: 0;
}
button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus,
button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active,
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    background: #0D9DCA;
    border: 0;
}

/* Spread out! */

@media only screen and (min-width : 768px) {
    #main {
	width: 80%;
	float: left;
    }
/*    .no-sidebar #main {
	width: 100%;
    } */
    .no-sidebar#main {
	width: 80%;
	float: none;
    }
}

#primary, #main {
    width: auto;
}
body.error404 #main,
#content, #masthead {
    width: 100%;
}

.page-content, .entry-content {
    margin-bottom: 2em;
}


/* Fix masthead etc, allow translucent colour overlay */

#masthead {
    padding: 0;
    margin: 0;
    height: auto;
}

.site-branding {
    max-width: 100%;
    min-width: 100%;
}

@media only screen and (min-width: 37.5em) {
    .site-branding {
	padding: 40px 0 50px 0;
    }
    
    .home .site-branding {
	padding: 100px 0 140px 0;
    }
}

#site-navigation {
    position: initial;
    padding-bottom: 6px;
}

#content {
    padding-top: 1rem;
}

.home .entry-content > h1 {
    margin-top: 0;
}

h1 { font-size: 2em; }
@media only screen and (min-width: 768px) {
    body.home h1.site-title {
	font-size: 3.25em;
    }
}

#masthead p.site-description {
    display: none;
}

body.home #masthead p.site-description {
    display: initial;
}


/* Fancy fiddling to fix layout if sidebar is/isn't present */

@media screen and (min-width: 768px) {
    #content, #primary, #secondary {
	vertical-align: top;
	float: none;
    }

    #content {
	display: table;
    }

    #primary, #secondary {
	display: table-cell;
    }
}

@media screen and (min-width: 768px) {
    #primary {
	padding-right: 1%;
	padding-left: 1%;
    }
}

/* Post nagivation prev/next */

.nav-links .nav-previous,
.nav-links .nav-next {
    width: 100%;
    display: block;
    float: left;
    text-align: left;
    background: #eee;
    background: rgba(0,0,0,0.05);
    margin-bottom: 20px;
    padding: 12px;
}

.nav-links .nav-next {
    text-align: right;
}

.nav-previous:before,.nav-previous:after,
.nav-next:before,.nav-next:after {
    display: none;
}

body.single .nav-previous:before {
    display: block;
    content: "<< Previous";
    padding: 0 0 4px 0;
}

body.single .nav-next:before {
    display: block;
    content: "Next >>";
    padding: 0 0 4px 0;
}

body.archive .nav-previous:before,
body.blog .nav-previous:before,
body.search-results .nav-previous:before {
    display: inline;
    background: transparent;
    content: "<< ";
}

body.archive .nav-next:after,
body.blog .nav-next:after,
body.search-results .nav-next:after {
    display: inline;
    background: transparent;
    content: " >>";
    padding: 4px;
}

@media screen and (min-width: 768px) {
    .nav-links .nav-previous,
    .nav-links .nav-next {
	display: inline-block;
	width: initial;
	max-width: 48%;
    }
    .nav-links .nav-previous {
	margin-right: 1.9%;
    }
    .nav-links .nav-next {
	margin-left: 1.9%;
	float: right;
	text-align: right;
    }
}


/* Sticky footer, Ryan Fait style */

#wrap-all-but-footer {
    min-height: 100%;
    margin: 0 auto -200px auto;
}

html, body {
    height: 100%;
}

#colophon-push,
#colophon {
    margin: 0;
    border: 0;
    padding: 0;
    min-height: 200px;
}

#colophon {
    padding-top: 2em;
    background-color: #333;
}

#colophon, #colophon a {
    color: #ddd;
}

#colophon .widget {
    background-color: transparent;
}


/* Style widgets in the footer */
@media screen and (min-width: 768px) {
    #footer-content .footer-row {
	display: table;
    }
    #footer-content .widget {
	display: table-cell;
	width: 33.333333%;
    }
}



/* For front page splash sidebar */

#prelim-frame {
    background-color: white;
    margin-bottom: 1em;
}

#prelim {
    background-color: transparent;
    margin-bottom: 0;
}

#prelim aside {
    margin-bottom: 0;
}

#prelim h3.widget-title {
    margin-top: 0;
}


/* Remove border-radius from most things the parent theme places it on */
/* This is a minor performance benefit. */
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea,
.screen-reader-text:focus,
.widget_search .search-submit:focus {
    border-radius: 0px;
}

/* Notification bar sidebar */
#notification-bar,
#notification-bar .widget {
    margin: 0;
    border: 0;
    padding: 0;
}
#notification-bar .notification-bar-inner {
    clear: both;
}
#notification-bar {
    background-color: orange;
}
#notification-bar .widget {
    background-color: transparent;
    overflow: hidden;
}

/* Edit link */
span.edit-link {
    display: block;
}

/**
 * ######################################################
 * "Themes"
 */

/* blue */

.main-navigation {
    background-color: #09b;
}

#menu-navigation-menu .current_page_item,
#menu-navigation-menu .current-menu-ancestor {
    background-color: rgba(0,32,64,0.3);
}

.main-navigation .sub-menu a:hover {
    background-color: #ddd;
}

#menu-navigation-menu > li.menu-item > a {
    border: 1px solid #3ce;
}

#masthead {
    background-color: #0ad;
}

.site-branding {
    background-color: rgba(64,60,58,0.3);
}

h3.widget-title {
    background-color: #e1e6ee;
    color: #036;
}

footer h3.widget-title {
    background-color: transparent;
    color: inherit;
}


/* green */
/*
.main-navigation {
    background-color: #4CA252;
}

#menu-navigation-menu .current_page_item,
#menu-navigation-menu .current-menu-ancestor {
    background-color: rgba(0,32,64,0.3);
}

.main-navigation .sub-menu a:hover {
    background-color: #ddd;
}

#menu-navigation-menu > li.menu-item > a {
    border: 1px solid #6c9;
}

#masthead {
    background-color: #58bc5f;
}

.site-branding {
    background-color: rgba(64,60,58,0.3);
}

h3.widget-title {
    background-color: #e1eee6;
    color: #063;
}

footer h3.widget-title {
    background-color: transparent;
    color: inherit;
}
*/
